<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/images/icons/font/css/open-iconic.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/capitulo.css">
    <title>Capitulo</title>
</head>
<body>

    <!--------------------------------------------------------->
    <script src="/lib/js/jquery.min.js" type="text/javascript"></script>
    <script src="/lib/js/popper.min.js" type="text/javascript"></script>
    <script src="/lib/js/bootstrap.js" type="text/javascript"></script>
    <script src="Wibo-Adventures/static/lib/draggable/src/Droppable.js" type="text/javascript"></script>
    <!--------------------------------------------------------->
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/capitulo.js" type="text/javascript"></script>
</body>
</html>
