<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/coleccionables.css">
    <title>Coleccion</title>
  </head>

  <body>
    <table>
    <tr>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
    </tr>
    <tr>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
    </tr>
    <tr>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
    </tr>
    <tr>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
      <td><img src="/images/coleccion.png" alt="Coleccionable"></td>
    </tr>


    </table>


  </body>
</html>
