<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/lib/css/bootstrap.css">
        <link rel="stylesheet" href="/css/coleccion.css">
    <link rel="stylesheet" href="coleccion.css">

    <title>Coleccion</title>
</head>
<body>

    <div class="conteiner-fluid" id="contenedor">
        <button id="camara">
            <img src="/images/camara.JPG" id="cam">
        </button>
        <button id="sushi">
            <img src="/images/sushi.JPG" id="su">
        </button>


    </div>

    


    

    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
</body>
</html>