<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Menu Principal</title>
</head>
<body>
    <div class="jumbotron-fluid justify-content-center">
        <div class="w-100 p-2" style="margin: 10%"></div>
        <div class="p-2 justify-content-center align-middle opacity">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="row w-100">
                        <a class="w-100" th:href="@{/logeado/aventuras}">
                            <button type="button" class="btn btn-secondary w-100">Jugar</button>
                        </a>
                    </div>
                    <div class="w-100"></div>
                    <div class="row w-100 mt-2">
                        <a class="w-100" href="coleccion.html">
                            <button type="button" class="btn btn-secondary w-100">Coleccion</button>
                        </a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="w-100 p-2"></div>
    </div>
    <!--Imagenes logos-->
    <div class="row mt-3">
        <div class="col-7 ml-5"></div>
        <div class="col-2">
            <img src="/images/logos/clockworkprogramming-sombra.png" class="w-100 float-left">
        </div>
        <div class="col-2">
            <img src="/images/logos/count23.png" class="w-100 float-right">
        </div>
    </div>
    <!--------------------------------------------------------->
    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/popper.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <!--------------------------------------------------------->
</body>
</html>
