body::after{
    background: url("/images/game-bg-full.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}
.container{
    width: 95% !important;
    margin: auto;
}

.row{
    height: 36% !important;
}
.space{height: 7% !important;}

.container>div{
    height: auto;
    position: initial;
    padding: 0px;
}

img{width: 100%;}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position:relative;
}

.MultiCarousel-inner { transition: 1s ease all;
    float: left;
}

.MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel-inner .item > div {
    text-align: center;
    padding:10px;
    margin:10px;
    background:#333;
}

.leftLst, .MultiCarousel .rightLst {
    position:absolute;
    border-radius:50%;
    top:calc(50% - 20px);
}

.leftLst {
    left:0;
    width: 50px;
}

.rightLst {
    right:0;
    width: 50px;
}

.leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background:#ccc;
}

