@font-face {
    font-family: fuji;
    src: url("/fonts/Gyosho.ttf");
    }

html, body{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    max-height: 100%;
     box-sizing: content-box;
}

body{
    background-size: 100vw 100vh ;
    background-repeat: no-repeat no-repeat; 
    background-image:  url('/images/cocina/fondo.GIF');
}

canvas{
}
#pausar{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-image: url("/images/cocina/pausa.png");
	background-size: 100%;
	align-self: center;
    justify-self: center;
}


#resume{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-image: url("/images/cocina/resume.png");
	background-size: 100%;
	align-self: center;
    justify-self: center;
}
#restart{
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-image: url("/images/cocina/restart.png");
	background-size: 100%;
	align-self: center;
    justify-self: center;
}

 #rej{
    grid-row-end: reloj;
    grid-row-start:reloj ;
    grid-column-start: reloj;
    grid-column-end: reloj;  
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-self: stretch;
    justify-self: stretch;



}



.ingre{
    width: 70%;
    height: 70%;
    align-self: center;
    justify-self: center;

}

.ingre:hover{
    width: 90%;
    height: 90%;
}

.simbolo{
    width: 35%;
    align-self: center;
    justify-self: center;

  
}

.objeto{
    width: 30%;
    align-self: center;
    justify-self: baseline;
}

#cas{
	width: 90%;
	height: 90%;

}




#contenedor{
    width: 100%;
    height: 100%;
    padding: 0%;
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-template-areas:    "fondo"
                            "mesa";

    

}


#fondo{
    grid-row-end: fondo;
    grid-row-start:fondo ;
    grid-column-start: fondo;
    grid-column-end: fondo;
    display: grid;
    grid-template-rows: 20% 52% 28%;
    grid-template-columns:3% 27% 70%;
    grid-template-areas:    "espacio receta head"
                            "espacio receta chuchito"
                            "espacio vacio chuchito";
}

#receta{
    grid-row-end: receta;
    grid-row-start:receta ;
    grid-column-start: receta;
    grid-column-end: receta;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 50% 50%;
    grid-template-areas:    "simbolo imagen"
                            "simbolo imagen"
                            "simbolo imagen"
                            "simbolo imagen";


}
#mesa{
    grid-row-end: mesa;
    grid-row-start: mesa;
    grid-column-start: mesa;
    grid-column-end: mesa;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(6, 16.6%);
    grid-template-areas:    "ing1 ing2 ing3 ing4 ing5 ing6"
    						"ing1 ing2 casuela casuela ing5 ing6";


}

#casuela{
    grid-row-end: casuela;
    grid-row-start:casuela ;
    grid-column-start:casuela ;
    grid-column-end: casuela;
    display: flex;
    justify-content: center;
    align-content: center;
    

}


#head{

    grid-row-end: head;
    grid-row-start:head ;
    grid-column-start: head;
    grid-column-end: head;  
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 18% 24% 27% 10% 1fr ;
    grid-template-areas:    "finl reloj vacio score finr";
    align-items: baseline;
    justify-items: center;
    padding-top: 0%;


} 




#score{
	font-family: fuji;
    font-size: 2em;
    grid-row-end: score;
    grid-row-start:score ;
    grid-column-start: score;
    grid-column-end: score;
    align-self: center;
    justify-self: center;
}



#cuchito{
font-family: fuji;
    font-size: 20em;
    color: rgb(70, 157, 197);
	grid-row-end: chuchito;
    grid-row-start: chuchito ;
    grid-column-start: chuchito;
    grid-column-end: chuchito;
}


#pausa{
	grid-row-end: finr;
    grid-row-start: finr ;
    grid-column-start: finr;
    grid-column-end: finr;  
    
}

#transp{
	background-color:rgba(0,0,0,0.0);
    width: 500px;
    height: 300px;


}

.transp{
	background-color:rgba(0,0,0,0.0);
}

#modal1{
	width: 100%;
	height: 100%;
    background: url('/images/cocina/pausap.png');
    background-size: cover;
    background-repeat: no-repeat; 
    display: grid;
    grid-template-rows: 44% 36% 20% ;
    grid-template-columns: 50% 50%;
    grid-template-areas:    "nada nada"
     						"pausar resume"
     						"nada nada";

}

#tiempo{
	font-family: fuji;
    font-size: 2em;
    align-self: center;
    justify-self: center;
}

.ingcon{
    display: flex;
    justify-content: center;
    align-content: center;
}

/*




*/




