html, .container{
    width: 100%;
    height: 100%;
}
.container{
    max-width: 100% !important;
    padding: 0;
    margin: 0;
}
.row{
    width: 100%;
    margin: 0px;
}
body::after{
    background: url("/images/game-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-position-x: center;
}
body{
    overflow:hidden;
    width: 100%;
    height: 100%;
}
.container{
    height: 100%;
}
.btn{
    background-color: #46a546;
    outline: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 0;
    border: 3px solid black;
    border-radius: 40px;
    text-align: center;
}
.btn:hover,
.btn:focus {
    color: #000;
    background-color: #c1d045;

.btn-secondary{
background-color: #b94a48 !important;
}

}.btn-secondary:hover,
 .btn-secondary:focus {
     color: #000;
     background-color: #dc4c18;
 }
