<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
    <script src="js/bundle.js"></script> 
    <link rel="stylesheet" href="/css/juego.css">
    <title>Document</title>
</head>

<body>


<!-- Button trigger modal -->

      
      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div id="modal1">
                    <button type="button" id="resume" class="btn btn-success" data-dismiss="modal">resume</button>
                    <button type="button" class="btn btn-danger">restar</button>
            </div>
          </div>
        </div>
      </div>














<audio id="inicial">
    <source src="/fonts/bonapetit.mp3" type="audio/mpeg">
</audio>
<audio id="tururu">
    <source src="/fonts/tururu.mp3" type="audio/mpeg">
</audio>
<audio id="myamya">
    <source src="/fonts/myamya.mp3" type="audio/mpeg">
</audio>
    <div id="contenedor">
        <div id="fondo">

            <div id="head">
                <div id="rej">

                    <canvas id="reloj" width="90px" height="90px"></canvas>
                </div>
                <div id="score">0</div>
                <div id="pausa">
                <button id="pausar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        			Pausa ||
   				</button>
                </div>
            </div>
            <div id="receta">

                <img src="" class="simbolo" simbolo=1 alt="">
                <img src="" class="objeto" objeto=1 alt="">
                <img src="" class="simbolo" simbolo=2 alt="">
                <img src="" class="objeto" objeto=2 alt="">
                <img src="" class="simbolo" simbolo=3  alt="">
                <img src="" class="objeto" objeto=3 alt="">
                <img src="" class="simbolo" simbolo=4 alt="">
                <img src="" class="objeto" objeto=4 alt="">

            </div>
            <div id="vacio"></div>
            <div id="cuchito">
            	
            </div>
        </div>
        <!-- SOLO HAY 8 ingredientes -->
        <div id="mesa">
            <div class="ingcon" id="ing1"><img src="/images/cocina/1.png" class="ingre" draggable="false" indx="img1"  tipo="1"  ></div>
            <div class="ingcon" id="ing2"><img src="/images/cocina/2.png" class="ingre" draggable="false" indx="img2"  tipo="2"  ></div>
            <div class="ingcon" id="ing3"><img src="/images/cocina/3.png" class="ingre" draggable="false" indx="img3"  tipo="3"  ></div>
            <div class="ingcon" id="ing3"><img src="/images/cocina/4.png" class="ingre" draggable="false" indx="img4"  tipo="4"  ></div>
            <div class="ingcon" id="ing1"><img src="/images/cocina/5.png" class="ingre" draggable="false" indx="img5"  tipo="5"  ></div>
			<div class="ingcon" id="ing2"><img src="/images/cocina/6.png" class="ingre" draggable="false" indx="img6"  tipo="6"  ></div>
			<div class="ingcon" id="ing2"><img src="/images/cocina/7.png" class="ingre" draggable="false" indx="img7"  tipo="7"  ></div>
			<div class="ingcon" id="ing2"><img src="/images/cocina/8.png" class="ingre" draggable="false" indx="img8"  tipo="8"  ></div>
			<div class="ingcon" id="ing2"><img src="/images/cocina/9.png" class="ingre" draggable="false" indx="img7"  tipo="9"  ></div>
			<div class="ingcon" id="ing2"><img src="/images/cocina/10.png" class="ingre" draggable="false" indx="img8"  tipo="10"  ></div>
	        <div id="casuela">
	        <img id="cas" src="/images/cocina/c0.png">
	        </div>

        </div>


        </div>



    </div>

</body>

</html>