<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/login_register.css">
    <title>Login/Register</title>
</head>
<body>
<div class="container align-items-center">
        <div class="bg-white">
            <div class="row h-auto justify-content-center align-middle">
                <div class="col">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-6">
                                    <a href="#" class="active" id="login-form-link">Iniciar Sesión</a>
                                </div>
                                <div class="col-6">
                                    <a href="#" id="register-form-link">Registrarme</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row p-2">
                                <div class="col">
                                    <form id="login-form" method="POST" th:action="@{/login}"  class="d-block">
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                                   placeholder="Nombre" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" id="password"
                                                   class="form-control" placeholder="Contraseña">
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <div class="col-sm col-sm-offset-3">
                                                    <button type="submit" name="login-submit" id="login-submit" tabindex="4"
                                                           class="btn btn-sm w-100">Iniciar Sesión</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="register-form" th:action="@{/registraUsuario}" method="POST" class="d-none">
                                        <div class="form-group">
                                            <input type="text" name="username" id="username" tabindex="1" class="form-control"
                                                   placeholder="Nombre">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col">
                                                    <input type="password" name="password" id="password"
                                                           class="form-control" placeholder="Contraseña">
                                                </div>
                                                <div class="col">
                                                    <input type="password" name="confirm-password" id="confirm-password"
                                                           class="form-control" placeholder="Confirma contraseña">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row m-4 justify-content-center">
                                                <div class="form-check form-check-inline col w-50">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio1" value="mujer" checked>
                                                    <label class="form-check-label" for="inlineRadio1">Mujer</label>
                                                </div>
                                                <div class="form-check form-check-inline col w-50">
                                                    <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                           id="inlineRadio2" value="hombre">
                                                    <label class="form-check-label" for="inlineRadio2">Hombre</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row justify-content-center">
                                                <div class="col-sm col-sm-offset-3">
                                                    <button type="submit" name="register-submit" id="register-submit"
                                                           tabindex="4" class="btn btn-sm w-100">Registrarse</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!--------------------------------------------------------->
    <script src="/lib/js/jquery.min.js"></script>
    <script src="/lib/js/popper.min.js"></script>
    <script src="/lib/js/bootstrap.js"></script>
    <!--------------------------------------------------------->
    <script src="/js/login_register.js"></script>
</body>
</html>
